project:
  type: website
  output-dir: docs

website:
  title: "Noory Okthariza"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    toc: false
