---
layout: compress
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <!-- Include Head -->
    {% include head.html %}
    {% include head/custom.html %}

    <!-- Favicon Example -->
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
  </head>

  <body>
    <!-- Browser Upgrade Notice -->
    {% include browser-upgrade.html %}

    <!-- Navigation Bar -->
    {% include masthead.html %}

    <!-- Main Content -->
    <main>
      {{ content }}
    </main>

    <!-- Footer -->
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    <!-- Scripts -->
    {% include scripts.html %}
  </body>
</html>
